@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&display=swap");
#__nuxt {
  background-color: aquamarine;
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 428px;
}
